header *, footer * {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

/* header */
header{
  height: 57px;
  border-bottom: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-menu-icon {
  height: 100%;
  margin: auto;
  width: 960px;
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 160px;
}
.header-menu{
  width: 65%;
  display: flex;
  align-items: center;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon i {
  margin: 0 12px;
}

/* 로고 */

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logoimg{
  height: 40px;
}

/* 메뉴 */
.header-menu > ul {
  display: flex;
  position: relative;
  font-size: 16px;
}

.header-menu a {
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로 정렬 */
  text-align: center; /* 수평 중앙 정렬 */
  text-decoration: none;
  color: black;
}

.header-menu a:hover{
  color: #2db400;
}

.header-menu li{
  list-style: none;
  padding: 15px;
}

/* 아이콘 */
.header-icon {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

/* main */
main {
  position: relative;
  padding-bottom: 50px;
  height: auto;
  min-height: 100vh;
}

/* footer */
footer {
  position: absolute;

  margin-top: 20px;
  width: 100%;

  height: 250px;
  background-color: #ccc;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.footer-list{
  display: flex;
  width: 960px;
  justify-content: space-around;
}

.footer-list > div {
  width: 100%;
}

.footer-list * {
  text-align: left;
  padding: 5px;
}

.footer-list h2 {
  font-size: 16px;
}

.footer-list li {
  list-style: none;
  font-size: 12px;
}

.footer-last {
  width: 960px;
  font-size: 12px;
  border-top: 1px solid #828282;
}

.footer-copy {
  font-weight: bold;
  font-size: 14px;
  color: #515151;
}

.footer-last > p {
  color: #515151;
  font-weight: 600;
  padding: 5px 3px;
}
