header *,
footer * {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

/* header */
header {
  height: 57px;
  border-bottom: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-menu-icon {
  height: 100%;
  margin: auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 160px;
}
.header-menu {
  width: 65%;
  display: flex;
  align-items: center;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon i {
  margin: 0 12px;
}

/* 로고 */

.header-logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
#logoimg {
  height: 40px;
}

/* 메뉴 */
.header-menu > ul {
  display: flex;
  position: relative;
  font-size: 16px;
}

.header-menu a {
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로 정렬 */
  text-align: center; /* 수평 중앙 정렬 */
  text-decoration: none;
  color: black;
}

.header-menu a:hover {
  color: #2db400;
}

.header-menu li {
  list-style: none;
  padding: 15px;
}

/* 아이콘 */
.header-icon {
  position: relative;
  text-align: center;
  font-size: 24px;
}

/* 로그인했을때 유저옵션 */
#userMenuToggle{display: none;}

label[for='userMenuToggle']{cursor: pointer;}
label[for='userMenuToggle']:hover{ text-decoration: underline; }

#userMenuToggle + div{display: none;}

#userMenuToggle:checked + div{display: block;}

.user-menu{
  position: absolute;
  top: 55px;

  background-color: white;
  z-index: 10;

  border: 2px solid #ccc;
}

.user-menu>a{
  width: 120px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.user-menu > a:first-child{
  border-bottom: 2px solid #ccc;
}

.user-menu > a:hover{
  background-color: #2db400;
  color: white;
  border: 2px solid #515151;
}

/* main */
main {
  height: 100%;
  position: relative;
  min-height: 100vh
}

/* footer */
footer{
  position: absolute;
  margin-top: 50px;

  left: 0px;
  width: 100%;

  height: 8rem;
  background-color: #30312f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 10px;
  color: white;
}

.footer-content{
  width: 960px;
}

.footer-header{
  display: flex;
  align-items: center;
  
}

#footlogo{
  height: 20px;
}

.footer-header a{
  color: white;
  text-decoration: none;
}