
main *{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* 임시테두리 */
/* main, header, section, footer{
    border: 1px solid black;
} */

main{
    width: 960px;
    height: 925px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* body */

main section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
}

#signUpFrm{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px auto;
}


#signUp{
    font-weight: bold;
    font-size: 30px;
}

#haveAccount{
    font-weight: bold;
    font-size: 14px;
}

#loginMember {
    color: #2DB400;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}

main a{
    color: red;
    font-size: 20px;
    text-decoration: none;
}


#signUpLogo {
    width: 150px;
    height: auto;
    margin: 20px 0px;
}


.or{
    /* margin: 30px auto; */
    width: 330px; 
    display: flex;
    flex-direction: row;
    flex-basis: 1%;
    align-items: center;
    color: #ccc;
    font-size: 16px;

}

.or::after, .or::before{
    content: "";
    flex-grow: 1;
    border-top: 1px solid #ccc;
    height: 1;
    margin: 0px 15px;
}


#sample6_address{
    width: 200px;
    height: 40px;
    margin: 5px;
    padding-left: 5px;
}


#userPw{
    height: 40px;
    width: 145px;
    margin-right: 3px;
    padding-left: 5px;
}

#userPwConfirm{
    height: 40px;
    width: 142px;
    margin-left: 3px;
    padding-left: 5px;
}



#sample6_detailAddress, #userEmail, #userNickname{

    height: 40px;
    width: 300px;
    margin: 5px;
    padding-left: 5px;
}

#agree{
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

#agreeServiceGo{
    font-size: 12px;
    color: black;
}


main button{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}



#SignUpSubmit{
    width: 300px;
    height: 45px;
    color: white;
    font-size: 16px;
    background-color: #2DB400;
    border: none;
    margin: 8px;
    border-radius: 5px;
}





/* 유효성 검사 */


#emailMessage{
    display: none;
    font-size: 9px;
    margin: 0 0 10px 0;
}

#nameMessage{
    display: none;
    font-size: 9px;
    margin: 0 0 10px 0;
}


#pwMessage{
    display: none;
    font-size: 9px;
    margin: 0 0 10px 0;
}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }
