


*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* 임시테두리 */
/* main, header, section, footer{
    border: 1px solid black;
} */

main{
    width: 960px;
    height: 925px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* body */

main .top{
    display: flex;
    flex-direction: column;
    justify-content:start;

    margin-right:50%;
}


main .middle{
    display: flex;
    flex-direction: column;
    justify-content: center;


    margin-top: auto;
    margin-bottom: auto;
}



main #discoverP{
    font-size: 30px;
    font-weight: bold;

    margin: 5px 0px 5px 5px;
}




main .menu{
    display: flex;
    flex-direction: row;
    
}


main .menu>*{
    
    margin: 5px 10px;
}

main #featured{
    color: #2DB400;
    text-decoration: underline;
    font-weight: bold;
}


main #popular{
    color: black;
    text-decoration: none;
    
}

main #recent{
    color: black;
    text-decoration: none;
    
}

main #victories{
    color: black;
    text-decoration: none;
    
}

main #popular:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}

main #recent:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}

main #victories:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}



main .result{
    border: 3px solid #ccc;
    width: 520px;

    display: flex;
    flex-direction: row;

    border-collapse: collapse;

    margin: 20px 0px;
}

main #title{
    margin: 20px;
    font-weight: bold;
}


main #content{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;

    font-size: 3px;
}

main #readMore{
    color: #ccc;
}




/* 사진 */
main #rowPicture{
    width: 170px;

    border-right: 3px solid #ccc;
}

main .picture{
    width: 168px;
    height: 150px;

    /* margin: auto; */
    
}



/* progress */

main #progress{
    width: 300px;
    height: 12px;

    margin: 0px 5%;
    appearance: none;

}

main #progress::-webkit-progress-bar{
    background-color: #ccc;
    border-radius: 10px;
}

main #progress::-webkit-progress-value {
    border-radius: 10px;
    background: #DC143C;
    background: -webkit-linear-gradient(to right, #FFD700, #DC143C);
    background: linear-gradient(to right, #FFD700, #DC143C);
}



main #goal{
    color: gray;
    font-size: 10px;
}



/* 더보기버튼 */
main #moreView{
    width: 520px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    
    border: 1px solid #2DB400;
    border-radius: 5px;
    background-color: white;
    color: #2DB400;

    margin-bottom: 20px;
    cursor: pointer;

}


