


*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* 임시테두리 */
/* main, header, section, footer{
    border: 1px solid black;
} */

main{
    width: 960px;
    height: 925px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* body */

.top{
    display: flex;
    flex-direction: column;
    justify-content:start;

    margin-right:50%;
}


.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;


    margin-top: auto;
    margin-bottom: auto;
}



#discoverP{
    font-size: 30px;
    font-weight: bold;

    margin: 5px 0px 5px 5px;
}




.menu{
    display: flex;
    flex-direction: row;
    
}


.menu>*{
    
    margin: 5px 10px;
}

#popular{
    color: #2DB400;
    text-decoration: underline;
    font-weight: bold;
}


#featured{
    color: black;
    text-decoration: none;
    
}

#recent{
    color: black;
    text-decoration: none;
    
}

#victories{
    color: black;
    text-decoration: none;
    
}

#featured:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}

#recent:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}

#victories:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}



.result{
    border: 3px solid #ccc;
    width: 520px;

    display: flex;
    flex-direction: row;

    border-collapse: collapse;

    margin: 20px 0px;
}

#title{
    margin: 20px;
    font-weight: bold;
}


#content{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;

    font-size: 3px;
}

#readMore{
    color: #ccc;
}




/* 사진 */
#rowPicture{
    width: 170px;

    border-right: 3px solid #ccc;
}

.picture{
    width: 168px;
    height: 150px;

    /* margin: auto; */
    
}



/* progress */

#progress{
    width: 300px;
    height: 12px;

    margin: 0px 5%;
    appearance: none;

}

#progress::-webkit-progress-bar{
    background-color: #ccc;
    border-radius: 10px;
}

#progress::-webkit-progress-value {
    border-radius: 10px;
    background: #DC143C;
    background: -webkit-linear-gradient(to right, #FFD700, #DC143C);
    background: linear-gradient(to right, #FFD700, #DC143C);
}



#goal{
    color: gray;
    font-size: 10px;
}



/* 더보기버튼 */
#moreView{
    width: 520px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    
    border: 1px solid #2DB400;
    border-radius: 5px;
    background-color: white;
    color: #2DB400;

    margin-bottom: 20px;
    cursor: pointer;

}


