<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
<resultMap type="edu.nojo.vote.main.model.dto.Petition" id="petition_rm">
		<result property="petitionContent" column="PT_CONTENT" jdbcType="CLOB" javaType="String" />
		 <result property="petitionNo" column="PT_NO" />
      	<result property="petitionTitle" column="PT_TITLE" />
      	<result property="petitionContent" column="PT_CONTENT" />
      	<result property="petitionDate" column="PT_DATE" />
      	<result property="petitionViewCount" column="PT_VIEW_COUNT" />
      	<result property="petitionImage" column="PT_IMG" />
      	<result property="petitionVictory" column="PT_VICT" />
      	<result property="userNo" column="USER_NO" />
      	<result property="userImage" column="USER_IMG" />
      	<result property="userNickname" column="USER_NICKNAME" />
      	<result property="userAddress" column="USER_ADD" />
      	<result property="categoryNo" column="CAT_NO" />
      	<result property="categoryName" column="CAT_NAME" />
      	<result property="petitionLikeCount" column="LIKE_COUNT" />
</resultMap>

<resultMap type="edu.nojo.vote.user.model.dto.User" id="user_rm">
		<result property="userAboutMe" column="USER_ABOUT_ME" jdbcType="CLOB" javaType="String" />
		 <result property="userNo" column="USER_NO" />
      	<result property="userImage" column="USER_IMG" />
      	<result property="userNickname" column="USER_NICKNAME" />
      	<result property="userEnrollDate" column="USER_ENDROLL_DT" />
      	<result property="userEmail" column="USER_EMAIL" />
      	<result property="userNickname" column="USER_NICKNAME" />
      	<result property="userAddress" column="USER_ADD" />
      	<result property="userWriteCount" column="USER_WRITE_COUNT" />
</resultMap>
	
	<!-- 삭제되지 않은 청원 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM "PETITION" 
		WHERE PT_DEL_FL = 'N'
	</select>
	
	<!-- 청원 조회 -->
	<select id="selectPetitionList" resultMap="petition_rm">
		SELECT PT_NO, PT_TITLE, USER_NICKNAME, PT_VIEW_COUNT, NVL2(USER_IMG, USER_IMG, '/resources/images/common/icon.png') USER_IMG, PT_DATE
			FROM "PETITION" P
			JOIN "USER" USING(USER_NO)
			WHERE PT_DEL_FL = 'N'
			ORDER BY PT_NO DESC
	</select>
	
	<!-- 메인 청원 변경 -->
	<update id="updateMainPetition" parameterType="map">
		UPDATE MAIN_PETITION SET PT_NO = ${petitionNo} WHERE "ORDER" = ${selectedNumber}
	</update>
	
	
	<!-- 청원 상세 조회 -->
	<select id="selectPetition" resultMap="petition_rm">
		SELECT PT_NO, PT_TITLE, PT_CONTENT, PT_IMG, USER_NICKNAME, USER_IMG, PT_VIEW_COUNT, USER_NO,
        (SELECT COUNT(*) FROM PETITION_LIKE) AS "LIKE_COUNT",
        TO_CHAR(PT_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') AS PT_DATE
		FROM PETITION
		JOIN "USER" USING(USER_NO)
		WHERE PT_DEL_FL = 'N'
		AND PT_NO = ${petitionNo}
	</select>
	
	<!-- 청원 검색했을 떄 삭제되지 않고 검색 조건이 일치하는  청원 수 조회 -->
		<select id="getListCount_search" resultType="_int">
		SELECT COUNT(*) 
		FROM "PETITION" 
		<if test='key == "w"'>
			JOIN "USER" USING(USER_NO)
		</if>
		WHERE PT_DEL_FL = 'N'
			<choose>
				<when test='key == "t"'>
				<!-- 제목 검색 -->
				AND PT_TITLE LIKE '%${query}%'
				</when>
				<when test='key == "c"'>
				<!-- 내용 검색 -->
				AND PT_CONTENT LIKE '%${query}%'
				</when>
				<when test='key == "tc"'>
				<!-- 제목 + 내용 검색 -->
				AND (PT_TITLE LIKE '%${query}%' OR PT_CONTENT LIKE '%${query}%')
				</when>
				<when test='key == "w"'>
			<!-- 작성자(닉네임) -->
				AND USER_NICKNAME LIKE '%${query}%'
				</when>
			</choose>
		</select>
		
		
		<!--  -->
		<select id="selectPetitionList_search" resultMap="petition_rm">
		SELECT PT_NO, PT_TITLE, USER_NICKNAME, PT_VIEW_COUNT, NVL2(USER_IMG, USER_IMG, '/resources/images/common/icon.png') USER_IMG,
			<![CDATA[
			CASE  
				WHEN SYSDATE - PT_DATE < 1     
				THEN FLOOR( (PT_DATE - SYSDATE) ) || '일 전'
				WHEN SYSDATE - PT_DATE < 30
				THEN FLOOR( (SYSDATE - PT_DATE) / 7 ) || '주 전'
				WHEN SYSDATE - PT_DATE < 365
				THEN FLOOR( (SYSDATE - PT_DATE) / 30 ) || '달 전'
					ELSE FLOOR( (SYSDATE - PT_DATE) / 365 ) || '년 전'
			END PT_DATE
			]]>
			FROM "PETITION" P
			JOIN "USER" USING(USER_NO)
			WHERE PT_DEL_FL = 'N'
			<choose>
				<when test='key == "t"'>
				<!-- 제목 검색 -->
				AND PT_TITLE LIKE '%${query}%'
				</when>
				<when test='key == "c"'>
				<!-- 내용 검색 -->
				AND PT_CONTENT LIKE '%${query}%'
				</when>
				<when test='key == "tc"'>
				<!-- 제목 + 내용 검색 -->
				AND (PT_TITLE LIKE '%${query}%' OR PT_CONTENT LIKE '%${query}%')
				</when>
				<when test='key == "w"'>
			<!-- 작성자(닉네임) -->
				AND USER_NICKNAME LIKE '%${query}%'
				</when>
			</choose>
			ORDER BY PT_NO DESC
	</select>
	
	
	<!-- 삭제되지 않은 유저 수  조회 -->
	<select id="getUserListCount" resultType="_int">
		SELECT COUNT(*) FROM "USER" 
		WHERE USER_DEL_FL = 'N'
	</select>
	
	
	<!-- 유저 조회 -->
	<select id="selectUserList" resultMap="user_rm">
<!-- 	SELECT USER_NO, USER_NICKNAME, USER_EMAIL, USER_ADD, USER_ENDROLL_DT, USER_IMG,
    (
        SELECT COUNT(*)
        FROM "PETITION"
        WHERE "USER_NO" = (
            SELECT "USER_NO"
            FROM "USER"
            WHERE USER_NO = #{userNo}
        )
    ) AS USER_WRITE_COUNT
	FROM "USER" WHERE USER_NO = #{userNo} AND USER_DEL_FL = 'N'
	ORDER BY USER_NO DESC -->
SELECT USER_NO, USER_NICKNAME, USER_EMAIL, USER_ADD, USER_ENDROLL_DT, NVL2(USER_IMG, USER_IMG, '/resources/images/common/icon.png') USER_IMG, 
	(SELECT COUNT(*) AS USER_WRITE_COUNT
	FROM "PETITION"
	WHERE "USER_NO" = (SELECT "USER_NO" FROM "USER" WHERE USER_NO = U.USER_NO)) AS USER_WRITE_COUNT
	FROM "USER" U
	WHERE USER_DEL_FL = 'N'
	ORDER BY USER_NO DESC
	</select>
	
	
	<!--유저 삭제  -->
	<update id="deleteUser">
		UPDATE "USER" SET
	 	USER_DEL_FL = 'Y'
	 	WHERE USER_NO = #{userNo}
	</update>
	
		<!--청원 삭제  -->
	<update id="deletePetition">
		UPDATE "PETITION" SET
	 	PT_DEL_FL = 'Y'
	 	WHERE PT_NO = #{petitionNo}
	</update>
	
	<!-- 삭제된 청원 수 조회 -->
	<select id="getPetitionDelCount" resultType="_int">
		SELECT COUNT(*) FROM "PETITION" 
		WHERE PT_DEL_FL = 'Y'
	</select>
	
	<!--삭제된 청원 조회  -->
	<select id="selectPetitionDelList" resultMap="petition_rm">
		SELECT * FROM "PETITION" JOIN "USER" USING(USER_NO) WHERE PT_DEL_FL = 'Y'
	</select>
	
	<!-- 삭제된 청원 복구 -->
	<update id="updateDelPetition">
		UPDATE "PETITION" SET
	 	PT_DEL_FL = 'N'
	 	WHERE PT_NO = #{petitionNo}
	</update>
	
	<!--삭제된 유저 수 조회  -->
	<select id="getDelUserListCount" resultType="_int">
		SELECT COUNT(*) FROM "USER" 
		WHERE USER_DEL_FL = 'Y'
	</select>
	
	
	<!--삭제된 유저 조회  -->
	<select id="selectDelUserList" resultMap="user_rm">
	SELECT USER_NO, USER_NICKNAME, NVL2(USER_IMG, USER_IMG, '/resources/images/common/icon.png') USER_IMG, USER_ENDROLL_DT
	FROM "USER"
	WHERE USER_DEL_FL = 'Y'
	ORDER BY USER_NO DESC
	</select>
	
	<!-- 삭제된 유저 복구  -->
	<update id="updateDeleteUser">
	UPDATE "USER" SET
 	USER_DEL_FL = 'N'
 	WHERE USER_NO = #{userNo}
	</update>
	
</mapper>