<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="browseMapper">
	<resultMap type="edu.nojo.vote.main.model.dto.Petition" id="petition_rm">
		<result property="petitionContent" column="PT_CONTENT" jdbcType="CLOB" javaType="String" />
		 <result property="petitionNo" column="PT_NO" />
      	<result property="petitionTitle" column="PT_TITLE" />
      	<result property="petitionContent" column="PT_CONTENT" />
      	<result property="petitionDate" column="PT_DATE" />
      	<result property="petitionViewCount" column="PT_VIEW_COUNT" />
      	<result property="petitionImage" column="PT_IMG" />
      	<result property="petitionVictory" column="PT_VICT" />
      	
      	<result property="userNo" column="USER_NO" />
      	<result property="userImage" column="USER_IMG" />
      	<result property="userNickname" column="USER_NICKNAME" />
      	<result property="userAddress" column="USER_ADD" />
      	
      	<result property="categoryNo" column="CAT_NO" />
      	<result property="categoryName" column="CAT_NAME" />
      	
      	<result property="petitionLikeCount" column="PT_LIKE_NO" />
      	
      	
      	
      	
	</resultMap>

	<resultMap type="edu.nojo.vote.main.model.dto.Petition" id="bw_petition">
      	<result property="commentRESPNo" column="CM_RESP_NO" />
      	<result property="commentRESP" column="COMMENT_RESP" />

      	<result property="commentNo" column="CM_NO" />
      	<result property="commentContent" column="CM_CONTENT" />
      	<result property="commentDate" column="CM_DATE" />
      	<result property="commentDelFl" column="CM_DEL_FL" />
      	
      	<result property="updateNo" column="UP_NO" />
      	<result property="updateTitle" column="UP_TITLE" />
      	<result property="updateContent" column="UP_CONTENT" />
      	<result property="updateDate" column="UP_CREATE_DT" />
      	<result property="updateImage" column="UP_IMG" />
      	<result property="updateDelFl" column="UP_DEL_FL" />
      	
      	

	</resultMap>



<resultMap type="edu.nojo.vote.writePetition.model.dto.PetitionCategory" id="category_rm">
      	<result property="categoryNo" column="CAT_NO" />
      	<result property="categoryName" column="CAT_NAME" />
      	<result property="categoryMainFl" column="CAT_MAIN_FL" />

</resultMap>
	
	
	<select id="selectBrowsePtList" resultMap="petition_rm" >
		SELECT PT_TITLE, PT_CONTENT, PT_IMG, PT_LIKE_NO
		FROM PETITION
		JOIN "PETITION_LIKE"" USING(PT_NO)
	</select>
	
	
	<select id="selectBrowseCmList" resultMap="bw_petition" >
		SELECT CM_CONTENT, CM_DATE, USER_NICKNAME, CM_RESP_NO 
		FROM "COMMENT"
		JOIN "USER" USING(USER_NO)
		JOIN "COMMENT_RESP" USING(CM_NO)
		WHERE PT_NO = #{petitionNo}
	</select>
	
	
	
	
	
</mapper>