<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainPageMapper">


<resultMap type="edu.nojo.vote.main.model.dto.Petition" id="petition_rm">
		<result property="petitionContent" column="PT_CONTENT" jdbcType="CLOB" javaType="String" />
		 <result property="petitionNo" column="PT_NO" />
      	<result property="petitionTitle" column="PT_TITLE" />
      	<result property="petitionContent" column="PT_CONTENT" />
      	<result property="petitionDate" column="PT_DATE" />
      	<result property="petitionViewCount" column="PT_VIEW_COUNT" />
      	<result property="petitionImage" column="PT_IMG" />
      	<result property="userNo" column="USER_NO" />
      	<result property="userImage" column="USER_IMAGE" />
      	<result property="userNickname" column="USER_NICKNAME" />
      	<result property="categoryNo" column="CAT_NO" />
      	<result property="petitionLikeNo" column="PT_LIKE_NO" />
</resultMap>
	
		
	<!-- 메인페이지 박스에 청원 보이기 -->
	<select id="selectMainPtList" resultMap="petition_rm">
		SELECT * FROM PETITION
	</select>
	
	

	
	<select id="selectMainUserList" resultType="map">
		SELECT * FROM "USER"
	</select>
	
	
	
</mapper>