<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper">

	<resultMap type="User" id="user_rm">
	
		<id property="userNo" column="USER_NO" />
		
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userPw" column="USER_PW" />
	
	</resultMap>


	<!-- 로그인 -->
	<select id="login" resultMap="user_rm">
		SELECT USER_NO, USER_EMAIL, USER_PW 
		FROM "USER"
		WHERE USER_EMAIL = #{userEmail}
	</select>
</mapper>