<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper">

	<resultMap type="User" id="user_rm">
	
		<id property="userNo" column="USER_NO" />
		
		<result property="userGrade" column="USER_GRADE" />
		<result property="userImage" column="USER_IMG" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userNickname" column="USER_NICKNAME" />
		<result property="userPw" column="USER_PW" />
		<result property="userAddress" column="USER_ADD" />
		<result property="userAboutMe" column="USER_ABOUT_ME" />
		<result property="userSocialLogin" column="USER_SOCIAL_LOGIN" />
		<result property="userEnrollDate" column="USER_ENDROLL_DT" />
		<result property="userDelFl" column="USER_DEL_FL" />
	
	</resultMap>


	<!-- 로그인 -->
 
	<select id="login" resultMap="user_rm">
		SELECT USER_NO, USER_EMAIL, USER_GRADE, USER_NICKNAME, USER_PW, USER_ADD, USER_ABOUT_ME, USER_IMG, 
          TO_CHAR(USER_ENDROLL_DT, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') USER_ENDROLL_DT
		FROM "USER"
		WHERE USER_DEL_FL = 'N'
		AND USER_EMAIL = #{userEmail}
	</select>
	
	
	
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="User">
		INSERT INTO "USER"
		VALUES(SEQ_USER_NO.NEXTVAL
			, DEFAULT
			, NULL
			, #{userEmail}
			, #{userNickname}
			, #{userPw}
			, #{userAddress}
			, NULL, NULL, DEFAULT, DEFAULT)
	</insert>
	
	
	
	
	
</mapper>