


*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* 임시테두리 */
/* main, header, section, footer{
    border: 1px solid black;
} */

main{
    width: 960px;
    /* height: 925px; */
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* body */


/* top */
.top{
    display: flex;
    flex-direction: column;
    justify-content:start;

    margin-right: 60%;
}


#menu{
    display: flex;
    flex-direction: row;
    
}


#menu>*{
    margin: 5px 10px;
}

#menu *{
    color: black;
    text-decoration: none;
    
}

#Comments:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}

#updates{
    color: black;
    text-decoration: none;
    
}

#updates:hover{
    color: #2DB400;
    font-weight: bold;
    text-decoration: none;
    
}


#details{
    color: #2DB400;
    text-decoration: underline;
    font-weight: bold;
}

/* 게시글뷰 */

#post{
    display: flex;
    flex-direction: row;
}


/* 게시글 왼쪽 */

#post-L{
    display: flex;
    flex-direction: column;

    width: 85%;

    /* 임시 */
    /* border: 1px solid black; */
}

#postTitle{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 40px;
}

#postPic{
    width: 90%;
    height: 350px;

    margin: 10px 25px;
    
}


/* 신고하기 */

#report1{ 
    margin: 15px 20px;
    padding: 2%;
}


main i{
    font-size: 10px;
}

#reportClick{
    color: black;
    font-size: 10px;

}



/* 패티션 만들기 */

#box1{
    border: #ccc;
    background-color: #ccc;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 30px;
    margin: 10px 30px;
}

.startCon{
    display: flex;
    flex-direction: column;
    align-items: start;

    font-size: 12px;
    margin: 10px 20px;

}


#startCon1{
    font-size: 15px;
    font-weight: bold;
}


#start{
    width: 180px;
    height: 40px;

    color: #2DB400;
    border: 3px solid #2DB400;
    background-color: white;
    border-radius: 5px;

    margin: 20px 5px;
    cursor: pointer;
}



/* 업데이트  */

#notification{
    margin: 10px 30px;
}


#update{
    font-size: 25px;
    font-weight: bold;

    margin: 10px 10px;
}


#box2{
    border: #ccc;
    background-color: #ccc;
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 10px 0px;
    padding: 10px;
}


.time{
    font-size: 12px;
    margin: 10px 10px;
}


#box3{
    border: #ccc;
    background-color: #ccc;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 10px 0px;
    padding: 10px;
}


.updateCon{
    font-size: 12px;

    width: 70%;
    margin: 10px 10px;
    
}



/* 댓글보기 */

#commentBox{
}



#reason{
    font-size: 25px;
    font-weight: bold;

    margin: 5px 6%;
}


#noti{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10%;
}


#noti *{
    font-size: 15px;
    margin: 10px 5px;
    
}


#comUser{
    font-weight: bold;
}


#commentCon{
    margin: 5px 15%;
    margin-right: 30%;
    font-size: 12px;
}



#push{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10%;
}


#push *{
    font-size: 10px;
    margin: 10px 5px;
}


#comReport{
    color: black;
    text-decoration: none;
}


#commentMore{
    width: 400px;
    height: 35px;
    background-color: white;
    border: 2px solid gray;

    margin: 10px;
    margin-left: 10%;
    cursor: pointer;
}




/* 게시글 오른쪽 */
.post-R{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 80px;

    /* 임시 */
    border: 1px solid black;
}


#gauge{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#row1{
    width: 300px;

    font-size: 18px;
    margin: 20px 10px;
    margin-top: 25%;
}


#row2{
    font-size: 10px;
    margin: 10px;
}


#row3{
    width: 250px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 10px;
}


#row3-1{
    margin-left: 10px;
}


#row3-2{
    margin-left: 20px;
}


#arrow{
    width: 40px;
    height: 40px;

    border-radius: 100%;
}



#haveSign{
    font-weight: bold;
    font-size: 20px;
    
}


#LetsGet{

    font-size: 20px;
}




.prof{
    width: 35px;
    height: 35px;
    border-radius: 100%;

}


#More{
    font-weight: bold;
}

#sign_User{
    margin: 5px;
}

.signUserBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}


.signNickname{
    font-weight: bold;
    margin: 5px;
}

.signTime{
    margin: 5px;

}

#postContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px 30px;
}


.paragraph{
    font-size: 15px;
    margin: 20px 20px;
}




/* progress */

#progress{
    width: 250px;
    height: 12px;

    margin: 0px 5%;
    appearance: none;

}

#progress::-webkit-progress-bar{
    background-color: #ccc;
    border-radius: 10px;
}

#progress::-webkit-progress-value {
    border-radius: 10px;
    background: #DC143C;
    background: -webkit-linear-gradient(to right, #FFD700, #DC143C);
    background: linear-gradient(to right, #FFD700, #DC143C);
}

/* figure */
#figure *{
    display: inline;
    margin: 0px 5px;
}


/* check */
#check{
    margin: 20px 20px;
}

#check *:hover{cursor: pointer;}


/* button */

#signButton{width: 100px;
    height: 30px;
    width: 250px;
    color: white;
    font-size: 15px;
    background-color: #2DB400;
    border: none;
    border-radius: 5px;
    
    margin: 10px 0px;
    cursor: pointer;
}




/* 추천게시글 */


#trandPeti{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.result{
    border: 3px solid #ccc;

    display: flex;
    flex-direction: row;

    border-collapse: collapse;

    margin: 20px 0px;
}








/* 추천게시글 - 타이틀&콘텐츠 */

.row{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}



.column{
    width: 530px;
    
}


#title{
    font-weight: bold;
    margin: 20px;
}


#content{
    font-size: 13px;

    margin: 20px 5px;
    margin-left: 3%;
    padding: 2px;
}



/* 추천게시글 - 프로필&서포터 */

.col{
    margin: 10px 10px;
}

#column-2{
    border-top: 3px solid #ccc;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* 추천게시글 - 사진 */
#rowPicture{
    width: 170px;

    border-left: 3px solid #ccc;
}

.picture{
    width: 100%;
    height: 100%;
    
    margin-top: 0.5px;
    
}









/* 더보기버튼 */
#moreView{
    width: 700px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    
    border: 3px solid #2DB400;
    border-radius: 5px;
    background-color: white;
    color: #2DB400;
    
    margin-left: 2px;
    margin-bottom: 20px;
    cursor: pointer;
}






