/* section, div{ border : 1px solid black;} */
#menu-wrap1 > ul > li:nth-child(3) {
  background-color: #444;
}

.board-name {
  font-size: 25px;
  margin: 10px 0;
  position: sticky;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.board-list {
  /* display: flex; */
  /* height: 800px; */
  transform: translateY(-70px);
}
.board-title {
  margin-left: 30px;
  font-size: 2.5em;
}

.list-wrapper {
  width: 100%;
}

.list-table {
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}

.list-table > thead {
  background-color: #333;
  color: white;
}

.list-table tr {
  height: 50px;
}

.list-table > tbody > tr {
  border-bottom: 1px solid gray;
}

.list-table tr > * {
  text-align: center;
}
.list-table tr > *:nth-of-type(1) {
  width: 5%;
}

.list-table tr > td:nth-of-type(2) {
  width: 8%;
  text-align: left;
  padding-left: 50px;
  text-decoration: none;
}

.list-table tr > *:nth-of-type(3) {
  width: 13%;
}
.list-table tr > *:nth-of-type(4) {
  width: 15%;
}
.list-table tr > *:nth-of-type(5) {
  width: 15%;
}
.list-table tr > *:nth-of-type(6) {
  width: 5%;
}
.list-table tr > *:nth-of-type(7) {
  width: 8%;
}

.btn-area {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-area > button {
  margin-right: 50px;

  width: 80px;
  height: 40px;
  background-color: white;

  font-weight: bold;
  color: black;
  border: 2px solid #333;
  border-radius: 5px;

  cursor: pointer;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li {
  width: 20px;
  margin: 0 5px;
  text-align: center;
}

.pagination a {
  display: block;
  width: 100%;
  height: 100%;
}

.current {
  font-weight: bold;
  background-color: #333;
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}

#petitionSearch {
  text-align: center;
  width: 500px;
  height: 30px;
  margin: 30px auto;

  display: flex;
  justify-content: space-between;
}

#petitionSearch * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#petitionSearch select {
  width: 100px;
}

#petitionSearch input {
  flex-grow: 1;
  margin: 0 10px;
  padding-left: 10px;
}

#petitionSearch button {
  width: 100px;

  font-weight: bold;
  background-color: #333;
  border: none;
  color: white;

  cursor: pointer;
}

/* 썸네일 */
.list-table .list-thumbnail {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -5px;
  top: 17px;
  border-radius: 50%;
}

.list-table tr > td:nth-of-type(2) {
  position: relative;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  z-index: 50;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: flex;
  animation-name: show;
  animation-duration: 0.5s;
  z-index: 500;
}

.modal.hide {
  animation-name: hide;
  animation-duration: 0.5s;
}

#modalImage {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

/* @keyframes : 
애니메이션 중간중간의 특정 지점들을 거칠 수 있는 키프레임들을 설정함으로써 CSS 애니메이션 과정의 중간 절차를 제어할 수 있게 합니다.  */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* 닫기 버튼 꾸미기 */
/* #modalClose {
  position: absolute;
  top: 20px;
  right: 40px;

  color: white;
  font-size: 50px;
  font-weight: bold;

  transition-duration: 0.2s;
  cursor: pointer;
} */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  background-color: #ffffff;
  border: 10px solid lightgray !important;
  z-index: 9999;
  display: none;
  border-radius: 15px;
}
.modal.visible {
  display: block;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 9998;
}
.modal-background.visible {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-color: #ffffff;
  border: 1px solid #000000;
  z-index: 9999;
  display: none;
}
.modal.visible {
  display: block;
}
.close-button {
  position: fixed;
  top: 20px;
  right: 30px;
  color: red;
  font-size: 30px;
  font-weight: bold;
  margin: -30px;
  margin-right: -40px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.tr-table:hover {
  background-color: rgb(120, 206, 139);
}

.tr-table {
  margin-right: -30px;
}
