main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1090px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.message {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
}
#chat-container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}
#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}
#user-input {
    display: flex;
    padding: 10px;

}
#user-input input {
    flex: 1;
    padding: 10px;
    outline: none;
}
#user-input button {
    border: none;
    background-color: #1e88e5;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

 /* header */
 header{ height: 57px; border-bottom: 2px solid #ccc; display: flex; justify-content: center;}
  
 .logomenuicon{
   height: 100%;
   margin: auto;
   width: 960px;
   display: flex;
 }
 
 .logo{width: 15%;}
 .menu{width: 70%;}
 .icon{width: 15%;}
 
 /* 로고 */
 
 .logo{display: flex; justify-content: center; align-items: center;}
 .logo img{
   height: 80%;
   cursor: pointer;
 }
 
 /* 메뉴 */
 .menu>ul{display: flex;}
 
 /* 아이콘 */
 .icon{
   padding: 10px;
   text-align: center;
   font-size: 24px;
 }
 
 /* main */
 main{
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   padding-bottom: 250px;
 }
 
 .mainframe{
   width: 100%;
   min-height: 1000px;
 }
 
 iframe{
   width: 100%;
   min-height: 1000px;
 }
 
 /* footer */
 footer{
   width: 100%;
   position: absolute;
   transform: translateY(-100%);
 
   height: 250px;
   background-color: #ccc;
   
   display: flex;
   flex-direction: column;
   
   justify-content: center;
   align-items: center;
 }
 
 .footerList{
   display: flex;
   width: 960px;
   justify-content: space-around;
 }
 
 .footerList>div{
   width: 100%;
 }
 
 .footerList *{
   text-align: left;
   padding: 5px;
 }
 
 .footerList h2{ font-size: 16px; }
 
 .footerList li{ font-size: 12px; }
 
 .last{
   width: 960px;
   padding: 15px;
   font-size: 12px;
   border-top: 1px solid #828282;
 }
 
 .admin{
   font-weight: bold;
   font-size: 14px;
   color: #515151;
 }
 
 .last>p{
   color: #515151;
   font-weight: 600;
 }

 