main * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
}

.Faq {
  font-size: 20px;
  font-weight: bold;

  width: 100%;

  margin: 20px 0;
  margin-right: 490px;
}

#title {
  font-size: 36px;
  font-weight: bold;

  margin-top: 50px;
  margin-bottom: 20px;
}

.faq-category {

  display: flex;
  flex-direction: row;
  justify-content: start;

  padding-top: 15px;
  margin-right: 450px;
  margin-bottom: 5px; 

  width: 100%;

}

.center-btn {
  padding-top: 90px;
  width: 618px;
  display: inline-block;
}

#button1{
  display: inline-block;

  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  
  background-color: #2DB400;
  border-radius: 5px;
  
  cursor: pointer;
  
  width: 60px;
  height: auto;
  
  margin-left: 3px;
  padding: 5px
}



#searchBtn {
  width: 80px;
  height: 47px;
  background-color: white;
  margin-left: 29px;
  cursor: pointer;
}

#searchBtn:hover {
  border-color: #2DB400;
  color: #2DB400;
}




.center-btn{
  margin: auto;
  padding: 10px;
  width: 618px;
  display: flex;
  justify-content: space-between;
}

.center-btn > a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-btn > a > i {
  margin-bottom: 5px;
}

#button2, #button3, #button4 {
  width: 200px;
  height: 180px;
  margin: 5px;
  background-color: white;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}


.question:first-child {
  border-top: 1px solid black;
}

.question {
  display: flex;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  justify-content: space-between;
}

.question::before {
  font-size: 14px;
  color: #000000;
}

.question > span {
  font-weight: bold;
  color: #000000;
}

.answer {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  border-bottom: 1px solid #dddddd;
  width: 618px;
  height: 80px;
  padding-top: 10px;
}

.answer > span {
  content: '';
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  width: 618px;
  height: 80px;
}

.arrow-wrap {
  transform: translate(0, -50%);
  margin-top: 7px;
  display: inline-block;
}


.question .arrow-top {
  display: none;
  width: 20px;
}

.question .arrow-bottom {
  display: block;
  width: 20px;
}

.question.on .arrow-bottom {
  display: none;
}

.question.on .arrow-top {
  display: block;
}

#Accordion_wrap {
  width: 618px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.confirm {
  background-color: #2DB400;
}

.error {
  background-color: white;
}



#id {
  justify-content: center;
}



main a {
  text-decoration: none;
  color: black;
}

main li {
  list-style: none;
  padding: 15px;
}
