#sendParent{
    width: 150px;
    height: 47px;
    color: white;
    background-color: #2DB400;
    text-align: bottom;
    position: absolute; top: 150px; left: 200px;
}

#submit{
    font-size: 24px;
    font-weight: bold;
    position: absolute; top: 70px; left: 120px;
}

main {
    width: 580px;
    height: 225px;
}

