
main *{
    box-sizing: border-box;
}


.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }


#select2{
    width: 150px;
    height: 47px;

    color: white;
    background-color: #2DB400;

    border: none;
    border-radius: 5px;

    margin-bottom: 150px;
    margin-left: 300px;
    font-weight: bold;
}

.suzip2 {
    font-size: 12px;
    padding-top: 40px;
    margin-left: 50px;
}

.suzip3 {
    font-size: 12px;
    padding-bottom: 100px;
    padding-top: 25px;
    margin-left: 50px;
}

main h2 {
    margin-left: 50px;
}

.filename {
    width: 619px;
    height: auto;

    background-color: #F2F2F2;
    border-radius: 5px;

    font-size: 12px;
    
    padding: 20px;

    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.profile-btn-area {
    padding-right: 370px;
    padding-bottom: 35px;
}



main * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

main a {
    text-decoration: none;
    color: black;
}

main li {
    list-style: none;
    padding: 15px;
}



#boardContent {
    margin-left: 20px;
    width: 619px;
    height: 268px;
    resize: none;
}

#boardTitle {
    margin-left: 15px;
    width: 200px;
    height: 20px;
}

.board-content {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.board-title {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
}

#title {
    margin-top: 50px;
    padding-left: 300px;
}


#boardContent, #boardTitle {
    border: 1px solid #939293;
    border-radius: 5px;
}

#agree {
    font-weight: bold;
    margin-bottom: 20px;
}