/* div, main, section, header, footer, article, nav, aside, form
{border: 1px solid black;} */

/* 대시보드 업데이트를 담는 텍스트 */
#dashboardUpdateContainer {
    text-align: center !important;
    line-height: 1.5;
    width: 80%;
    max-width: 620px;  /* 920px이 너무 커서 620px로 줄여서 맞춤 */
}

/* 청원 지지자 업데이트 텍스트를 담는 Frame */
.edeit-profile-top-frame {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

/* 청원 지지자 업데이트 타이틀 텍스트 */
#dashboardUpdateTitle {
    display: block;
    
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 4px;
    
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

/* 청원글 본문 서브 타이틀 텍스트 */
#dashboardUpdateSubtitle {
    display: block;
    
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 4px;
    
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

/* input/text area위의 텍스트 */
.dashboard-update-text{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 4px;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Dashboard-Update 페이지의 input */
.dashboard-update-input {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding : 10px;
    border: 1px solid #dbd9db;
    border-radius: 5px;
}

/* Dashboard-Update 페이지의 사진추가 프레임 */
#dashboardUpdateAddImage {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    border: 1px dashed #dbd9db
}

/* Dashboard-Update 페이지의 사진추가 프레임 속 상부 프레임 */
#dashboardUpdateAddImage > div:first-child{
    margin-top: 60px;
    margin-bottom: 30px;
}

/* Dashboard-Update 페이지의 사진추가 프레임 속 상부 프레임 속 이미지 */
#dashboardUpdateAddImage img {
    width : 115px;
    max-width: 100%;
    height: auto;
    border-style : none;
}

/* Dashboard-Update 페이지의 사진추가 프레임 속 하부 프레임 */
#dashboardUpdateAddImage > div:nth-child(2) {
    margin-bottom: 60px;
}

/* Dashboard-Update 페이지의 사진추가 프레임 속 하부 프레임 속 input : file */
#dashboardUpdateAddImage > div:nth-child(2) > input {
    display: block;
    clip : rect(0 0 0 0);
    clip-path: iset(50%);
    height: 1px;
    width: 1px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/* Dashboard-Update 페이지의 사진추가 프레임 속 하부 프레임 속 lable */
#dashboardUpdateAddImage > div:nth-child(2) > label {
    height: 48px;

    padding: 12px 16px;
    border: 1px solid #dbd9db;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

/* Dashboard-Update 페이지의 사진추가 프레임 속 하부 프레임 속 lable 속 span(Upload an image) */
#dashboardUpdateAddImage > div:nth-child(2) > label > span {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* 써머노트 넓이 */
.note_editor {
    width: 100% !important;
}

/* 써머노트 툴바 죄측 정렬 */
.note-toolbar {
    text-align: left !important;
}

.dashboard-update-text-guide {
    margin-top: 20px;
}

.dashboard-update-text-guide > div{
    display: block;
    font-size: 12px;
    text-align: left;
    color: #737273;
}

/* 저장, 취소 버튼을 담은 프레임 */
.submit-cancel-button-frame {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    display: flex;
    justify-content: flex-end;
}

/* 저장, 취소 버튼 클래스*/
.submit-cancel-button {
    display: inline-block;
    width: 80px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border : 2px solid #2DB400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    cursor : pointer;
    margin: 5px;
}

/* 이메일 미리보기 버튼 */
.preview {
    width: 120px;
}





/* 모달창 오버레이 */
.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: rgba(0, 0, 0, 0.4);
}


/* 모달창 */
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 40%;
    height: 70%;

    padding: 40px;

    text-align: center;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
}


/* 모달창 본문 */
.modal-content {
    margin-top: 20px;
    padding: 0px 10px;
    color: black;
}

/* 모달창 닫기 버튼 div */
.close-area {
    display: block;
    float: right;
    padding: 10px;
    cursor: pointer;
}

/* 모달창 타이틀 div 모두 */
.modal-title-container > div {
    margin: 0px 0px 15px;

    font-weight: bold;
    line-height: 1.2;
}

/* 모달창 내부 타이틀 */
.modal-title {
    font-size: 24px;
}

/* 모달창 내부 서브 타이틀 */
.modal-subtitle {
    font-size: 16px;
}

/* 모달창 본문 */
.modal-content-container {
    border-radius: 0px;
    border: 1px solid #737273;
    margin-bottom: 15px;
    padding: 20px 15px;
}






/* 저장 버튼 */
#submit{
    background-color: #2DB400;
    color: #ffffff;
}

/* 취소 버튼 */
#cancel{
    background-color: #ffffff;
    color: #2DB400;
}






/* 이미지 미리보기 화면 */           
#imageContainer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
}

/* 업로드 포토 라벨 */  
.upload-photo {
    display: block;
    color: #E01A2B;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center !important;
}