main *{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* div, main, section, header, footer, article, nav, aside, form
{border: 1px solid black;}
 */

main {
    font-size: 12px;
}

main div{
    display: block;
}

/* 기본 박스 */
.defaultbox {
    padding: 20px !important;
    border: 1px solid #D9D9D9;
    flex-direction: row;
    justify-content: center;
}

/* 본문 */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 반응형으로 할 시에 움직이는 한 뭉치 */
.contentBox{
    width: 80%;
    max-width: 960px;
}

.row{
    display: table;
}