
main *{
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

#changePasswordForm {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    width: 700px;
}

#changePasswordTip{
    color:#777;
    font-weight: bold;
}

#changePasswordForm > *{
    margin-top: 20px;
}

#changePasswordTitle {
    text-align: center;
}

.input-container>*{
    margin: 5px;
}

.input-label{
    font-weight: bold;
}

.input-password{
    width: calc(100% - 10px);
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}


#btnContainer{
    display: flex;
    justify-content: flex-end;
}

.submit-cancel-button {
    display: inline-block;
    width: 80px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border : 2px solid #2DB400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    cursor : pointer;
    margin: 5px;
}

#message{
    /* text-align: center; */
    color: red;
}

#submit{
    background-color: #2DB400;
    color: #ffffff;
}

#cancel{
    background-color: #ffffff;
    color: #2DB400;
}