main * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    margin: 0 auto;
}

.title-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-container>*{
    margin: 20px;
}

.content-container{
    width: 100%;
    margin-top: 50px;
    align-items: start;
}

.align-menu-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.align-item {
    width: auto;
    padding: 10px;
}

.align-item.current{
    border-bottom: 2px solid red;
    color: red;
    font-weight: bold;
}

.petition-box{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border: 1px solid #bbb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.categories{
    padding: 15px;
    border-bottom: 1px solid #bbb;
}

.petition{
    flex-grow: 1;
    display: flex;
    height: calc( 100% - 50px );
    padding: 15px;
}

.img-box{
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    width: 264px;
    height: 100%;
}

.img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.petition-title{
    font-weight: bold;
    font-size: large;
    overflow: hidden;
    height: 40px;
}

.petition-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 76px;
}

.petition-info {
    display: flex;
    width: 100%;
    margin-top: auto;
}
.user-info {
    margin-right: auto;
}

.suppoters {
    margin-left: auto;
}

.limit-title{
    width: 200px; /* 부모 요소의 너비 */
    height: 100px; /* 부모 요소의 높이 */
    overflow: hidden; /* 텍스트가 너무 길어질 경우 잘라내기 */
}

.hidden{
    display: none;
}

#loadPetitionBtn {
    margin-top: 25px;
    background: white;
    color: black;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.05em;
    padding: 0 2em;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid lightgray;
    margin-bottom: 25px;
    text-decoration: underline;
}

.petition-category{
    text-decoration: none;
    color: black;
}

.petition-category:hover{
    color: #2db400;
}