* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

.menu a {
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로 정렬 */
  margin-left: 5px; /* 텍스트 왼쪽 간격 설정 */
  text-align: center; /* 수평 중앙 정렬 */
  text-decoration: none;
  color: black;
}

.nav-menu {
  list-style: none;
  padding: 15px;
}

/* header */
header {
  height: 57px;
  border-bottom: 2px solid #ccc;
  display: block;
  justify-content: center;
  align-items: center;
}

.logomenuicon {
  height: 100%;
  margin: auto;
  width: 960px;
  display: flex;
}

.logo {
  width: 20%;
}
.menu {
  width: 60%;
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  margin: 0 12px;
}

/* 로고 */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 80%;
  cursor: pointer;
}

/* 메뉴 */
.menu > ul {
  display: flex;
}

/* 아이콘 */
.icon {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

/* main */
main {
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 250px;
  /* display: flex; */
  flex-direction: column;
}

/* footer */
footer {
  width: 100%;
  /* position: absolute;
  transform: translateY(-100%); */
  /* bottom: 0px; */

  height: 250px;
  background-color: #ccc;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.footerList {
  display: flex;
  width: 960px;
  justify-content: space-around;
}

.footerList > div {
  width: 100%;
}

.footerList * {
  text-align: left;
  padding: 5px;
}

.footerList h2 {
  font-size: 16px;
}

.footerList li {
  font-size: 12px;
}

.last {
  width: 960px;
  padding: 15px;
  font-size: 12px;
  border-top: 1px solid #828282;
}

.admin {
  font-weight: bold;
  font-size: 14px;
  color: #515151;
}

.last > p {
  color: #515151;
  font-weight: 600;
}

.title {
  font-size: 50px;
}
.subTitle {
  margin-top: 10px;
}
.titleBtn {
  border-radius: 5px;
  background-color: #2db400;
  margin: 30px;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  font-size: 16px;
}
