main * {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

.title {
  font-size: 50px;
}
.subTitle {
  margin-top: 10px;
}
.titleBtn {
  border-radius: 5px;
  background-color: #2db400;
  margin: 30px;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  font-size: 16px;
}

.item {
  border: 1px solid lightgray;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

/* .box1 {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 960px;
  height: 500px;
  background: url();
} */

.item {
  border: 1px solid #333;
  grid-template-columns: repeat(6, 143px);
  position: relative;
}

/* .box1 {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-top: 150px;
  border: 1px solid #333;
  width: 960px;
  height: 260px;
} */
/* .box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 450px;
  height: 250px;
  background-image: url('/resources/images/mainPage/img/news1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 50;
  border-right: 0;
} */

.container {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: url('/resources/images/mainPage/bg.png');
  background-size: cover;
  z-index: -1;
  margin-top: -100px;
  opacity: 0.4;
}
.container2 {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(58px, auto);
  padding-top: 60px;
  width: 960px;
  margin: 0 auto;
  background-color: white;
}

.main-article {
  width: 50%;
}
.main-article2 {
  width: 50%;
}
.main {
  display: flex;
  justify-content: space-between;
}

.box1 {
  grid-column: 1/4;
  grid-row: 1/6;
  background-size: cover;
  z-index: 11;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-bottom: 3px solid lightgray;
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid lightgray;
}
.box2 {
  grid-column: 4/7;
  grid-row: 1/5;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
  z-index: 9;
  background-color: white;
  border-top: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-radius: 0px 5px 0px 0px;
  border-bottom: 0;
  border-left: 0;
}
.box3,
.box4,
.box5 {
  border-radius: 0px 0px 5px 0px;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
}
.box3 {
  grid-column: 4/6;
  border-right: 1px solid lightgray;
  border-left: 0;
}
.box4 {
  border-left: 0;
  border-right: 1px solid lightgray;
}
.box5 {
  border-left: 0;
  border-right: 2px solid lightgray;
}
.box6,
.box7,
.box8,
.box9,
.box10,
.box11 {
  grid-row: 1/3;
  border: 0;
}
.box12,
.box13,
.box14,
.box15,
.box16,
.box17 {
  grid-row: 3/5;
  font-size: 12px;
  border: 0;
}

.container3 {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(45px, auto);
  width: 960px;
  margin: 0 auto;
  background-color: white;
  gap: 10px;
}

.box6-wrapper {
  grid-row: 2/4;
  grid-column: 1/2;
}

.box12-wrapper {
  grid-row: 2/4;
  grid-column: 2/4;
}
.news-id {
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin: 6px;
}

.item.box3 div {
  display: inline-flex;
  font-size: 15px;
  display: block;
}

.main-news--id-container {
  display: block;
  height: 100%;
}
#main-news-id {
  height: 50%;
  margin-top: 8px;
}
#main-news-country {
  height: 50%;
  margin-top: 5px;
  font-weight: normal;
}
.news-view {
  margin: 4px;
}
.news-view span {
  font-size: 15px;
  margin-left: 10px;
}
#supporter {
  margin-left: 6px;
  margin-top: 4px;
  font-weight: normal;
}
#victory-btn {
  border: 1px solid black;
  margin: 15px;
  padding: 10px 15px;
  background-color: #2db400;
  color: white;
  border: 0;
  margin-left: -18px;
  border-radius: 5px;
  position: relative;
}
#news {
  margin-top: 20px;
}

#newsTitle {
}
#newsContent {
  position: absolute;
  margin-right: 18px;
}
#main-news-id {
  position: absolute;
  margin-top: 28px;
  font-size: 15px;
}
#main-news-country {
  position: absolute;
}
#main-news-id-box {
  margin-left: 60px;
  margin-top: 4px;
}
#view {
  position: relative;
}

.titleBtn:hover,
.titleBtn:focus {
  outline: none; /* 포커스 아웃라인 제거 */
}
#main-news-link:hover {
  color: red;
}

.text-limit1 {
  overflow: hidden;
  height: 70px;
}

.text-limit2 {
  overflow: hidden;
  height: 100px;
}

.text-limit3 {
  overflow: hidden;
  height: 50px;
  display: block;
}