


*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* 임시테두리 */
/* main, header, section, footer{
    border: 1px solid black;
} */

main{
    width: 960px;
    height: 925px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* body */



section{
    margin-top: auto;
    margin-bottom: auto;
}



section>div{
    display: flex;
    flex-direction: row;
    justify-content: start;
}




#search{
    font-size: 12px;
}








#searchPetitions{
    height: 40px;
    width: 400px;

}



#searchButton{
    width: 100px;
    height: 40px;
    color: white;
    font-size: 15px;
    background-color: #2DB400;
    border: none;
    border-radius: 5px;

    margin-left: 20px;
    cursor: pointer;
}


#noResult{
    font-size: 15px;
    margin: 10px 0px;
}


#start{
    border: 1px solid black;
    background-color: #ccc;

    width: 520px;
    height: 80px;

    margin-top: 5px;

}

p{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
}


#startPatition{
    width: 200px;
    height: 40px;

    border: 1px solid #2DB400;
    background-color: white;

    color: #2DB400;


    margin: 20px 0px;
    margin-right: 20px;
    cursor: pointer;
}




